.testimonial{
  margin-bottom: 270px;
  &-heading{
    margin-bottom: 60px;
  }
  &-main{
    max-width: 1070px;
    position: relative;
    overflow: hidden;
  }
  &-wraper{
    overflow: hidden;
    position: relative;
  }
  &-list{
    display: flex;
    position: relative;
    transition: all 0.5s linear;
  }
  &-item{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 25px;
    flex: 1 0 100%;
  }
  &-content{
    max-width: 450px;
  }
  &-rating{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 20px;
    margin-bottom: 30px;
    color: #FFBB0C;
  }
  &-desc{
    margin-bottom: 40px;
    color: $gray-darkest;
    font-weight: 400;
    font-size: 24px;
    line-height: calc(36 / 24);
  }
  &-name{
    font-size: 22px;
    font-weight: 700;
    color: $gray-darkest;
    margin-bottom: 20px;
  }
  &-job{
    font-size: 18px;
    color: $gray-darkest;
  }
  &-images{
    img{
      border-radius: 8px;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  @media screen and (min-width: 1024px) {
    &-main{
      padding-left: 50px;
    }
  }
  @media screen and (max-width: 1023.98px) {
    margin-bottom: 75px;

  }
  @media screen and (max-width: 767.98px) {
    &-item{
      flex-direction: column;
      gap: 30px 0;
    }
    &-heading{
      margin-bottom: 30px;
    }
    &-desc{
      font-size: 20px;
      margin-bottom: 20px;
    }
    &-name{
      font-size: 21px;
    }
    &-job{
      font-size: 16px;
    }
    &-images{
      height: 400px;
      img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
    }
  }
  
  
  
}
.arrows{
  position: absolute;
  right: 0;bottom: 0;
  background-color: $gray-lighter;
  border-radius: 16px 0 0 0 ;
  padding: 20px 0 0 30px;
  gap: 0 20px;
  display: flex;
  z-index: 2;
}
.arrow{
  width: 40px;
  height: 40px;
  border-radius: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  color: black;
  border: 2px solid;
  &.disabled{
    color: $gray-dark;
    cursor: not-allowed;
  }
}